.orderMain h3{
    text-align: center;
    margin: 10px auto;
}

.orderForm, .confirmOrderDetails {
    padding: 10px;
}

.orderForm form, .map{
    width: 80%;
    margin: auto;
}

.orderForm form div{
    margin: 10px auto;
}


.confirmButton{
    text-align: center;
    margin-top: 10% !important;
}

.confirmButton button{
    width: 100%;
}

.googleMap{
    width: 100%;
    height: 200px;
    margin: auto;
}